@font-face {
  font-family: 'iconfont';  /* project id 990191 */
  src: url('//at.alicdn.com/t/font_990191_o79687k10v.eot');
  src: url('//at.alicdn.com/t/font_990191_o79687k10v.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_990191_o79687k10v.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_990191_o79687k10v.woff') format('woff'),
  url('//at.alicdn.com/t/font_990191_o79687k10v.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_990191_o79687k10v.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}